<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
  <h1 class="display-5 fw-bold">Welcome!</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">RoR Beginners...</p>
    
    <% if Current.user %>
      <p class="lead mb-4">You are logged in as: <%= Current.user.email %></p>
    <% end %>
        
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <% if Current.user %>
        <%= button_to "Connect your Twitter Account", "/auth/twitter", method: :post, class: "btn btn-primary btn-lg px-4 gap-3" %>
        <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-outline-secondary btn-lg px-4" %>
      <% else %>
        <%= link_to "Sign Up", sign_up_path, class: "btn btn-primary btn-lg px-4 gap-3" %>
        <%= link_to "Login", sign_in_path, class: "btn btn-outline-secondary btn-lg px-4" %>
      <% end %>      
    </div>
  </div>
</div>